.place__paragraph {
  margin: 0 0 26px;
}

.place__paragraph:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    margin: 0 0 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    margin: 0 0 25px;
  }
}
