.cover__title {
  margin: 0 auto;
  display: flex;
  padding: 245px 0 0;
  max-width: 560px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-decoration-line: none;
  z-index: 2;
  color: #FFFFFF;
}
