.cover__title {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 245px 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  z-index: 2;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    padding: 195px 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
    padding: 115px 0 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    padding: 15% 0 0;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .cover__title {
    max-width: 288px;
    padding: 10.3% 0 0;
    font-size: 32px;
    line-height: 35px;
  }
}

